MicrosoftSyncPoC.Client.WPF/Service References/SyncService/SyncService101.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicrosoftSyncPoC.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicrosoftSyncPoC.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MicrosoftSyncPoC.WCF/SyncService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost/MicrosoftSyncPoC.WCF/SyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" />
  <xs:complexType name="WebSyncFaultException">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="InnerException" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSyncFaultException" nillable="true" type="tns:WebSyncFaultException" />
  <xs:complexType name="SyncBatchParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchSize" type="xs:unsignedInt" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="DestinationKnowledge" nillable="true" type="q2:SyncKnowledge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncBatchParameters" nillable="true" type="tns:SyncBatchParameters" />
  <xs:complexType name="GetChangesParameters">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="ChangeBatch" nillable="true" type="q3:ChangeBatch" />
      <xs:element minOccurs="0" name="DataRetriever" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChangesParameters" nillable="true" type="tns:GetChangesParameters" />
</xs:schema>